.search-button:active,
.search-button:visited,
.search-button:link,
.search-button:enabled {
    background-color: #121212;
    color: #efefef;
}

.search-button {
    background-color: #121212;
    color: #efefef;
}

.confirm-steps {
    padding: 10px;
    margin: 20px 0;
}