.search-button:active,
.search-button:visited,
.search-button:link,
.search-button:enabled {
    background-color: #121212;
    color: #efefef;
}

.search-button {
    background-color: #121212;
    color: #efefef;
}
